<link rel="stylesheet" href="/stylesheets/header.css">
<header>
    <div id="header">
        <h1>Viven的个人博客</h1>
        <ul class="navbox">
            <li><a href="">首页</a></li>
            <li><a href="">首页</a></li>
            <li><a href="">首页</a></li>
            <li><a href="">首页</a></li>
            <li><a href="">首页</a></li>
        </ul>
        <span class="search">
            <img src="/" alt="">
        </span>
    </div>
</header>